html {
  background-color: #fdfeff;
}


img {
  width: 45%;
  display: block;
  margin: 0 auto;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot img {
  display: table;
  position: relative;
  margin: auto;
}

.container {
  display: flex;
}

div.messages {
  width: 100%;
  border-radius: 0.3rem;
  background-color: #ffffee;
}

p.message {
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  margin: 0.1rem;
}

p.debug {
  color: white;
  background-color: #0000ff;
}

p.info {
  color: white;
  background-color: #000000;
}

p.warning {
  color: black;
  background-color: #ff8800;
}

p.error {
  color: black;
  background-color: #ff0000;
}

.basic-info {
  width: 50%;
  text-align: justify;
}

.project-icons {
  width: 20%;
  height: 20%;
  text-align: center;
}

.project-info {
  width: 50%;
  text-align: justify;
}

.edition-icons {
  width: 25%;
  height: 25%;
  text-align: center;
}

.edition-info {
  width: 70%;
  text-align: justify;
}

.model {
  width: 70%;
  height: 750px;
  text-align: center;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #32557f;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.radio {
  display: none;
}

.voyager-explorer {
  display: block;
  position: relative;
  height: 500px;
}

.home-button{
  text-align: right;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  min-width:100%;
}

#footer img{
  width:100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    
}

