.basic-info {
  width: 50%;
  text-align: justify;
}

.project-icons img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.project-info {
  width: 50%;
  text-align: justify;
}

.edition-icons img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.edition-icons{
  width: 50%;
  text-align: center;
}

.edition-info {
  width: 50%;
  text-align: justify;
}

.model {
  width: 70%;
  height: 750px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #32557f;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.radio {
  display: none;
}

.voyager-explorer {
  display: block;
  position: relative;
  height: 500px;
}

.home-button{
  text-align: right;
}

