<!DOCTYPE html>
<html>
  <head>
    <link href="/static/dist/fonts/fonts.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{url_for('static',filename='dist/favicon.png')}}"
    />
    <link
      rel="stylesheet"
      href="/static/dist/css/voyager-explorer.{{ext}}.css"
    />
    <script defer src="/static/dist/js/voyager-explorer.{{ext}}.js"></script>
  </head>
  <body>
    <voyager-explorer root="{{root}}" document="{{scene}}"> </voyager-explorer>
  </body>
</html>
