<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pure3D</title>
    <!-- href="/static/assets/style.css"-->
    <link rel="stylesheet" type="text/css" href="/static/css/vars.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block head %} {% endblock %}
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header>
          <div id="topbar">
            {% block logo %} {% endblock %}
            <div id="login-buttons">{{ testUsers | safe }}</div>
            <span class="fill">&nbsp;</span>
            <a class="loginout" href="/login">
              <label class="button" id="login-tab" for="login">login</label>
            </a>
          </div>
          <div id="msgbar">{{ messages | safe }}</div>
        </header>

        <nav>{% block navigation %} {% endblock %}</nav>

        <main><div class="content">{% block content %} {% endblock %}</div></main>

        <footer id="footer">
          {% block footer %} {% endblock %}
          <img
            src="/static/media/Website_Footer.png"
          >
        </footer>
      </div>
    </div>
  </body>
</html>
