{% extends 'layout.html' %}

{% block navigation %}
    <br>
		<div class="warpper">
			<input class="radio" id="about" name="group" type="about"></a>
            <input class="radio" id="project-background" name="group" type="project-background"></a>
			<input class="radio" id="sources" name="group" type="sources">
            <input class="radio" id="acknowledgments" name="group" type="acknowledgements">
			<input class="radio" id="contact" name="group" type="contact">
		  
		<div class="tabs">
				<label class="tab" id="about-tab" for="about">About</label>
				<label class="tab" id="pb-tab" for="project-background">Project Background</label>
				<label class="tab" id="sources-tab" for="contact">Sources</label>
				<label class="tab" id="acknowledgments-tab" for="acknowledgemnets">Acknowldgements</label>
				<label class="tab" id="contact" for="surprise-me">Contact</label>
		</div>

		<br>
		<div class="search-bar">
			<input type="search" name="search" placeholder="search item">
			<input type="submit" value="Search">
		</div>

{% endblock %}

{% block content %}
<div class = "container">
	<div class="edition-info">
		<h1>Introduction</h1>
		{{ intro|safe }}
	</div>

	<div class = "model-icons">
		<h1><emp>Models</emp></h1>
				
	</div>
</div>

{% endblock %}